* {
  font-family: 'Urbanist', sans-serif;
}

/* body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

html,
body {
  overflow-x: hidden;
  /* overflow-y: hidden; */
  scroll-behavior: smooth;
  position: relative;
}

.card {
  background: white;
  padding: 2rem 2rem;
  border-radius: 30px;
}

.framer-box{
  min-height: 80vh;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.expand {
  width: 550px;
  height: 400px;
  display: flex;
  justify-content: center;
}

.textarea{
  transition: all 0.5s ease-out;
  margin-top: 20px;
  height: 250px;
  width: 550px;
}

.animated-icon-start:hover {
  color: rebeccapurple;
  animation: fa-beat 1s; /* Pause for 2 seconds */
}

.animated-icon-reset:hover {
  color: rebeccapurple;
  animation: fa-spin reverse .8s; /* Pause for 2 seconds */
}

/* code {
  font-family: 'Urbanist', sans-serif;
} */
