  * {
  font-family: 'Urbanist', sans-serif;
}

/* body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

html,
body {
  overflow-x: hidden;
  /* overflow-y: hidden; */
  scroll-behavior: smooth;
  position: relative;
}

.card {
  background: #74787e;
  padding: 2rem 2rem;
  border-radius: 30px;
  z-index: 1;
  color: #f3f3f3;
  opacity: .95;
}

.framer-box{
  min-height: 80vh;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.expand {
  width: 550px;
  height: 400px;
  display: flex;
  justify-content: center;
}

.textarea{
  transition: all 0.5s ease-out;
  margin-top: 20px;
  height: 270px;
  width: 410px;
  /* line-height: 3.5; */
  margin-right: 200px;
}

.graphs {
  position: absolute;
  bottom: 20px; /* Adjust for desired distance from bottom */
  margin-bottom: 400px; /* Add bottom margin */
  
  /* margin-bottom: 200px; */
  /* background-color: grey; */
}

#paragraph {
  border: 2px solid #222831;
  border-radius: 20px;
  padding: 60px 350px 60px 220px;
}

.button-area {
  height: 150px;
  width: 140px;
  margin-top: 132px;
  margin-left: 445px;
  border-radius: 20px;
  position: absolute;
  border: 2px solid #222831;
}

.tools-button {
  height: 60px;
  width: 100px;
  margin-top: 295px;
  margin-left: 485px;
  border-radius: 20px;
  position: absolute;
  border: 2px solid #222831;
}
/* .test {
  border: 2px solid red;
} */

/* 
.animated-icon-stop:hover {
  color: rebeccapurple;
  animation: fa-beat 1s; 
}

.animated-icon-start:hover {
  color: rebeccapurple;
  animation: fa-beat 1s; 
}

.animated-icon-reset:hover {
  color: rebeccapurple;
  animation: fa-spin reverse .8s; 
} */

/* code {
  font-family: 'Urbanist', sans-serif;
} */
